dist
dist-*
dist-newstyle
cabal.project.local
cabal.project.local~
cabal.project.freeze
.ghc.environment.*
.hie
.stack-work

result
result-*

multiverse.toml

*.hi
*.o
*.dyn_hi
*.dyn_o
*.prof

*.sqlite
*.sqlite3
*.sqlite-journal
*.sqlite3-journal
